@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --perfume-primary: #000000;
  --perfume-secondary: #666666;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}